
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffe6f0; 
    margin: 0;
    padding: 0;
}


header h1 {
    text-align: center;
    color: #d63384; 
    font-size: 36px;
    margin-top: 30px;
}


nav {
    text-align: center;
    padding: 15px 0;
}

nav a {
    color: black; 
    text-decoration: none;
    margin: 0 20px;

}

nav a:hover {
    text-decoration: underline;
    color: #8e2f6c;
}


.box {
    background-color: #fff0f5;
    border: 2px solid #ffa6c9;
    width: 50%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2);
    text-align: center;
    align-items: center;
}

.box h2 {
    color: #c71585;
    font-size: 28px;
}

.box p {
    color: #4b004f;
    font-size: 18px;
    margin: 20px 0;
}

.box button {
    background-color: #ff66b2;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box button:hover {
    background-color: #cc4c99;
}


footer {
    text-align: center;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
}
.gallery-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("bckg.jpg"); 
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  padding: 50px;
  height: 100px;
}

.gallery-text {
  max-width: 50%;
  padding: 20px;
  padding-bottom: 30 px;
}

.gallery-text h2 {
  font-size: 2em;
  color: b; 
  margin-bottom: 10px;
}

.gallery-text p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  line-height: 1.6;
}
.book-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: palevioletred; 
  color:black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book-button:hover {
  background-color: #dbb5d7; 
}
.box {
  padding: 40px;
  background-color: #fff5f8; 
  text-align: center;
}

.box h2 {
  color: pink; 
  margin-bottom: 30px;
  font-size: 2em;
}



 img {
  max-width: 200px; 
 }



table{
  width: 30%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 2px solid #ff99cc;
}

th, td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ffe6f0;
}

tr:hover {
  background-color: #ffccdd;
}


form {
  display: inline-table;
  flex-direction: column;
  gap: 10px;
  background-color: #cc94a7;
  padding: 20px;
  border-radius: 10px;
  
}

input, select, textarea {
  padding: 8px;
  border: 2px solid #bab0b5;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: white;
  color:black;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color:pink;
}
  

.about-box {
  background-color: #fff5f8;
  max-width: 700px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
}

.about-box h2 {
  color: #f649a0;
  margin-bottom: 15px;
  font-size: 2.5em;
}

.about-box h3 {
  color: #a86d8c;
  margin-top: 30px;
  font-size: 1.5em;
}

.about-box p {
  color: #5d3f52;
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1.1em;
}

.about-box a {
  color: #eb92be;
  text-decoration: none;
}

.about-box a:hover {
  text-decoration: underline;
}

